:root {
  --color-primary: #ffffff;
  --color-secondary: #191C1F;
  --color-background: #0D1117; 
  --color-accent: #4C6EF5; 
  --color-text: #ADB5BD;

  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size-regular: 16px;
  --font-size-title: 32px;
  --font-size-subtitle: 24px;
  --font-size-small: 14px;

  --spacing-content: 15px
}