body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    line-height: 1.6;
}




.header {
    background-color: var(--color-secondary);
    text-align: center;
    padding: var(--spacing-content);
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgb(48, 48, 48);
}

.header__button {
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-regular);
    margin-top: var(--spacing-content);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1200px;
}


/* BANNER */
.banner {
    text-align: center;
    padding: var(--spacing-content);
}

.banner__title {
    font-size: var(--font-size-title);
    color: var(--color-primary);
    margin-bottom: var(--spacing-content);
    padding: 5px
}

.banner__title--highlight {
    color: var(--color-accent);
}

.banner__text {
    color: var(--color-text);
    margin-bottom: var(--spacing-content);
}

.banner__button {
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-regular);
}

/* ABOUT */
.about {
    padding: var(--spacing-content);
    border-top: 1px solid var(--color-text);
}

.about__title {
    font-size: var(--font-size-subtitle);
    color: var(--color-primary);
    margin-bottom: var(--spacing-content);
}

.about__text {
    color: var(--color-text);
}

/* FAQ */
.faq {
    padding: var(--spacing-content);
    border-top: 1px solid var(--color-text);
    display: flex;
    justify-content: space-between;
}

.comments__content,
.faq__content {
    position: sticky;
    top: 70px;
}



.faq__title {
    font-size: var(--font-size-subtitle);
    color: var(--color-primary);
    margin-bottom: var(--spacing-content);
}

.faq__text {
    color: var(--color-text);
    margin-bottom: var(--spacing-content);
}

.faq__button {
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-regular);
}

.faq__list {
    list-style: none;
    max-width: 50%;
}

.faq__item {
    margin-bottom: var(--spacing-content);
}

.faq__question {
    font-size: var(--font-size-regular);
    color: var(--color-primary);
}

.faq__answer {
    color: var(--color-text);
}

/* COMMENTS */
.comments {
    display: flex;
    flex-direction: row-reverse;
    padding: var(--spacing-content);
    border-top: 1px solid var(--color-text);
    background-color: var(--color-secondary);
}

.comments__title {
    font-size: var(--font-size-subtitle);
    color: var(--color-primary);
    margin-bottom: var(--spacing-content);
}

.comments__text {
    color: var(--color-text);
    margin-bottom: var(--spacing-content);
}

.comments__list {
    list-style: none;
}

.comments__item {
    margin-bottom: var(--spacing-content);
}

.comments__name {
    font-size: var(--font-size-regular);
    color: var(--color-primary);
}


.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}