body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    line-height: 1.6;
}




.header {
    background-color: var(--color-secondary);
    text-align: center;
    padding: var(--spacing-content);
}

.header__logo {
    /* Adicione estilos para o logo se necessário */
}

.header__button {
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-regular);
    margin-top: var(--spacing-content);
}

/* BANNER */
.banner {
    text-align: center;
    padding: var(--spacing-content);
}

.banner__title {
    font-size: var(--font-size-title);
    color: var(--color-primary);
    margin-bottom: var(--spacing-content);
}

.banner__title--highlight {
    color: var(--color-accent);
}

.banner__text {
    color: var(--color-text);
    margin-bottom: var(--spacing-content);
}

.banner__button {
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-regular);
}

/* ABOUT */
.about {
    padding: var(--spacing-content);
    border-top: 1px solid var(--color-text);
}

.about__title {
    font-size: var(--font-size-subtitle);
    color: var(--color-primary);
    margin-bottom: var(--spacing-content);
}

.about__text {
    color: var(--color-text);
}

/* FAQ */
.faq {
    padding: var(--spacing-content);
    border-top: 1px solid var(--color-text);
    display: flex;
    justify-content: space-between;
}

.faq__content {
    max-width: 50%;
}

.faq__title {
    font-size: var(--font-size-subtitle);
    color: var(--color-primary);
    margin-bottom: var(--spacing-content);
}

.faq__text {
    color: var(--color-text);
    margin-bottom: var(--spacing-content);
}

.faq__button {
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-regular);
}

.faq__list {
    list-style: none;
    max-width: 50%;
}

.faq__item {
    margin-bottom: var(--spacing-content);
}

.faq__question {
    font-size: var(--font-size-regular);
    color: var(--color-primary);
}

.faq__answer {
    color: var(--color-text);
}

/* COMMENTS */
.comments {
    padding: var(--spacing-content);
    border-top: 1px solid var(--color-text);
    background-color: var(--color-secondary);
}

.comments__title {
    font-size: var(--font-size-subtitle);
    color: var(--color-primary);
    margin-bottom: var(--spacing-content);
}

.comments__text {
    color: var(--color-text);
    margin-bottom: var(--spacing-content);
}

.comments__list {
    list-style: none;
}

.comments__item {
    margin-bottom: var(--spacing-content);
}

.comments__name {
    font-size: var(--font-size-regular);
    color: var(--color-primary);
}